<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#C23EE6"/>
  <meta name="Description" content="OBA for dummies, find your dummie and/or your course/workshop, offered to you by the public library of Amsterdam!">
  <title>OBA - voor dummies</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/css/index.css">
</head>
