<section class="detailBook">
  <ul>
    <li><a href="#" class="btn">terug</a></li>
    <li><a href="#" class="btn">volgende</a></li>
  </ul>
  <div class="left holder">
    <img src="" alt="book cover">
    <a href="#" class="btn">naar de website</a>
  </div>
  <div class="right content">
    <h2 class="title"></h2>
    <p class="author"></p>
    <p class="summary"></p>
  </div>
</section>
