<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

<body>
  <main>
    <% include partials/header.ejs %>

    <section class="detailBook">
      <ul class="menu menu__btn">
        <li><a href="#" class="btn">terug</a></li>
        <li><a href="#" class="btn">volgende</a></li>
      </ul>
      <div class="left holder">
        <img src="" alt="book cover">
        <a href="#" class="btn">naar de website</a>
      </div>
      <div class="right content">
        <h2 class="title"></h2>
        <p class="author"></p>
        <p class="summary"></p>
      </div>
    </section>

  </main>

  <% include partials/tail.ejs %>

</body>
</html>
