<section class="detailCourse">
  <ul>
    <li><a href="#" class="btn">terug</a></li>
    <li><a href="#" class="btn">volgende</a></li>
  </ul>
  <div class="left holderCourse">
    <img src="" alt="course cover">
  </div>
  <div class="right content">
    <h2 class="title"></h2>
    <p class="author"></p>
    <p class="year"></p>
    <p class="summary"></p>
  </div>
</section>
