<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

<body>
  <main>
    <% include partials/header.ejs %>

    <section class="detailCourse">
      <div class="left">
        <img class="detailCourseCover" src="<%= course[0].cover %>" alt="course cover">
      </div>
      <div class="right content">
        <h2 class="titleDetail"><%= course[0].title %></h2>
        <p class="summaryDetail"><%= course[0].summary %></p>
        <a class="btn linkDetail" href="<%= course[0].link %>" class="btn">naar de website</a>
      </div>
    </section>

  </main>

</body>
</html>
