<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

<% include partials/header.ejs %>

<body>

  <main>



  </main>

  <% include partials/header.ejs %>

  <script src="src/js/script.js" type="module"></script>

</body>
</html>
