<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

<body>

  <main>

    <% include partials/header.ejs %>

    <% include partials/loading.ejs %>

  </main>

  <% include partials/tail.ejs %>

  <script type="text/javascript">

  </script>

</body>
</html>
