<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

<body>

  <main>

    <% include partials/header.ejs %>

    <% if (page === 0){ %>
      <% include partials/books.ejs %>

    <% } else if (page === 1) { %>
      <% include partials/courses.ejs %>

    <% } else { %>
      <% include partials/loading.ejs %>
    <% } %>

  </main>
  
</body>
</html>
