@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Chelsea+Market|Finger+Paint');

/* colors */
:root {
  --color-text: #002B37;
	--color-text-default: #48656E;
  --color-text-special: #C23EE6;
  --color-backgr-default: #FFFFFF;
  --color-backgr-special: #ddd;
}

/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--color-backgr-default);
  padding: .7rem;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  color: var(--color-text);
  overflow: hidden;
}

main {
  background-color: var(--color-backgr-special);
  overflow: hidden;
  padding: .5rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
  "header header header header"
  "books books books books";
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

img {
  margin-bottom: .3rem;
  margin-top: 1rem;
}

/* text */
h1, h2 {
  font-family: 'Cabin Sketch', sans-serif;
  margin: .5rem;
  letter-spacing: .08rem;
}

h1 {
  font-size: 5rem;
  transition: font-size .2s ease-out;
}

.container__side__title {
  font-size: 3rem;
  margin-top: 1.25rem;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

p, a {
  color: var(--color-text);
  font-size: 1rem;
}

p {
  margin: .5rem;
}

/* buttons */
.btn {
  margin: .5rem;
  padding: .35rem 1rem;
  display: inline-block;
  color: var(--color-text-default);
  border: 2px solid var(--color-text-default);
  border-radius: 25px;
  text-align: center;
}

.btn__lang {
  display: block;
  text-align: center;
}

a:hover, a:focus, .btn:hover, .btn:focus, .btn:active {
  color: var(--color-text-special);
  border-color: var(--color-text-special);
}

.container__books__side .btn {
  margin-top: 5%;
}

/* header, menu, footer */
.menu li {
  display: inline;
}

.footer {
  border-top: 1px solid #ccc;
}

.footer li {
  float: right;
  margin: 2rem .5rem;
}

.footer li:first-of-type {
  float: left;
}

/* grid general */
.container__header {
  grid-area: header;
  width: 100%;
  height: 10vh;
  margin-bottom: 2rem;
}

.container__books, .container__courses {
  grid-area: books;
  display: flex;
  flex-direction: column;
  width: 97vw;
  overflow: hidden;
  margin-top: 7.5%;
}

.container__book, .container__course {
  grid-column: span 1;
  text-align: center;
  margin: 0;
  padding: 0 1.5rem;
  height: 100%;
}

.detailBook, .detailCourse {
  grid-column: span 4;
  display: flex;
  margin-right: 15%;
}

.left {
  margin-left: 1rem;
  margin-right: 3rem;
}

.titleDetail {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.detailCourseCover {
  width: 25vw;
}

.detailBookCover {
  width: 15vw;
}

.authorDetail {
  font-size: 1.25rem;
  color: var(--color-text-special);
}

.headingDetail {
  margin-top: 1.5rem;
  margin-left: .5rem;
}

.summaryDetail {
  width: 75%;
}

.descrDetail {
  margin-bottom: 1.5rem;
}

.linkDetail {
  margin-top: 1.5rem;
}

/* container side */
.container__books__side, .container__courses__side {
  grid-area: top;
  grid-column: span 4;
  max-width: 95%;
}

.container__side__subtitle {
  margin-bottom: 2rem;
}

/* container content */
.container__books__content {
  grid-area: content;
  grid-column: span 4;
  display: flex;
  text-align: center;
  width: 99%;
  overflow: scroll;
  position: relative;
  padding-left: 7.5rem;
}

.container__courses__content {
  grid-area: content;
  grid-column: span 3;
  display: flex;
  text-align: center;
  overflow: scroll;
  width: 100vw;
  padding-left: 7.5rem;
}

.container__books__content::-webkit-scrollbar, .container__courses__content::-webkit-scrollbar {
  display: none;
}

/* container small */
.holder, .holderCourse {
  height: 20em;
}

.container__book .holder {
  width: 100%;
}

.container__course, .holderCourse img {
  width: 100%;
}

.holder img {
  width: 85%;
}

.link__book {
  display: grid;
  width: 7.5em;
}

.link__course {
  display: grid;
  width: 10rem;
}

/* states */
.summary, .author, .year, .summary__course, .container__course .btn {
  display: none;
}

.container__book:hover .summary, .container__book:hover .author, .container__book:hover .year, .container__course:hover .summary__course, .container__course:hover .btn {
  display: block;
  font-size: .8rem;
  text-align: center;
}

.container__book:focus .summary, .container__book:focus .author, .container__book:focus .year, .container__course:focus .summary__course, .container__course:focus .btn {
  display: block;
  font-size: .8rem;
  text-align: center;
}

.container__book:hover img, .container__book:focus img, .container__course:hover img, .container__course:focus img {
  box-shadow: -10px -8px 20px -4px rgba(148,148,148,1);
}

/* styles */
.container__books-parent, .container__courses-parent {
  grid-column: span 3;
  position: relative;
  width: 97vw;
}

.container__books-parent::after, .container__courses-parent::after, .container__books-parent::before, .container__courses-parent::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 13%;
  background: linear-gradient(to left, rgba(221, 221, 221, 1) 0%, rgba(221, 221, 221, 0) 100%);
}

.container__books-parent::before, .container__courses-parent::before {
  left: -2px;
  right: auto;
  transform: rotate(180deg);
}

/* letters */
/* title */
.v:hover, .r:hover {
  transform: rotate(45deg);
  display: inline-block;
}

.o:hover, .u:hover {
  transform: rotateX(-45deg);
  display: inline-block;
}

.i:hover {
  transform: rotate(180deg);
  display: inline-block;
}

.oo:hover, .m:hover, .e:hover {
  transform: rotate(45deg);
  display: inline-block;
}

.d:hover, .mm:hover, .s:hover {
  transform: rotateY(-60deg);
  display: inline-block;
}

/* bibliotheek */
.b:hover, .ii:hover, .l:hover, .ooo:hover, .t:hover, .h:hover, .ee:hover, .k:hover {
  transform: rotateY(-60deg);
  display: inline-block;
}

/* curcussen */
.c:hover, .uu:hover, .rr:hover, .ss:hover, .uuu:hover, .sss:hover, .ssss:hover, .eeee:hover, .n:hover {
  transform: rotateY(-60deg);
  display: inline-block;
}

/* states */
#spinner {
  grid-column: span 4;
  width: 10rem;
  height: 10rem;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-backgr-default);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  } 50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
 0%, 100% {
   transform: scale(0.0);
   -webkit-transform: scale(0.0);
 } 50% {
   transform: scale(1.0);
   -webkit-transform: scale(1.0);
 }
}

@media (max-width: 58em) {
  main {
    display: grid;
    grid-template-areas:
    "header header header"
    "books books books";
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  h1 {
    font-size: 4.8rem;
  }
}

@media (max-width: 38em) {
  main {
    display: grid;
    grid-template-areas:
    "header header"
    "books books";
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}
