<div class="container__header">
  <h1><?xml version="1.0" encoding="UTF-8"?>
  <svg width="154px" height="87px" viewBox="0 0 154 87" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
      <title>Group</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="oba_logo_kort_rood_h" transform="translate(-6.000000, 0.000000)">
              <g id="Group" transform="translate(6.000000, 0.000000)">
                  <path d="M71.8977273,73.765625 C79.4261364,73.765625 83.9431818,68.7526042 83.9431818,61.4335938 C83.9431818,54.1135807 79.4261364,49.1005599 71.8977273,49.1005599 C64.3693182,49.1005599 59.8522727,54.1135807 59.8522727,61.4335938 C59.8522727,68.7526042 64.3693182,73.765625 71.8977273,73.765625 Z M46,10 L61.0568182,10 L61.0568182,42.2828516 L61.2575758,42.2828516 C64.6704545,37.5716146 70.493428,35.8681901 76.7159091,35.8681901 C90.5691856,35.8681901 99,48.2984766 99,61.8336328 C99,76.5729167 89.4640152,87 75.0104735,87 C68.1837121,87 62.3617424,82.8883203 60.0530303,79.3792057 L59.8522727,79.3792057 L59.8522727,85.796875 L46,85.796875 L46,10 Z" id="Fill-1" fill="#C23EE6"></path>
                  <path d="M28.164963,61.5 C28.164963,55.8055556 24.4395702,52.3888889 18.9995033,52.3888889 C13.5604298,52.3888889 9.83503699,55.8055556 9.83503699,61.5 C9.83503699,67.1944444 13.5604298,70.6111111 18.9995033,70.6111111 C24.4395702,70.6111111 28.164963,67.1944444 28.164963,61.5 Z M0,61.5 C0,50.1111111 7.4507856,41 18.9995033,41 C30.5492144,41 38,50.1111111 38,61.5 C38,72.8888889 30.5492144,82 18.9995033,82 C7.4507856,82 0,72.8888889 0,61.5 Z" id="Fill-4" fill="#C23EE6"></path>
                  <path d="M127.234739,58.1156317 C127.234739,61.5631692 127.53277,69.2077088 132.450289,69.2077088 C135.132572,69.2077088 136.399205,66.359743 136.399205,63.8865096 C136.399205,59.4646681 134.089462,55.3426124 129.61899,55.3426124 L127.234739,55.3426124 L127.234739,58.1156317 Z M138.559933,55.3426124 L138.559933,55.4925054 C142.434342,57.9657388 144,62.4625268 144,67.0352605 C144,73.8543897 140.124598,80 132.822828,80 C120.305508,80 120.081985,64.7109208 120.081985,55.3426124 C116.133068,55.3426124 113.599801,58.640257 113.599801,62.5384725 C113.599801,66.2098501 115.238974,69.2836545 117.921257,71.6809422 L111.811613,77.6766595 C107.937204,73.5546039 106,67.5588865 106,61.6381156 C106,48.5224839 112.630206,45 124.701472,45 L143.104912,45 L143.104912,55.3426124 L138.559933,55.3426124 Z" id="Fill-5" fill="#C23EE6"></path>
                  <path d="M73.8977273,71.765625 C81.4261364,71.765625 85.9431818,66.7526042 85.9431818,59.4335938 C85.9431818,52.1135807 81.4261364,47.1005599 73.8977273,47.1005599 C66.3693182,47.1005599 61.8522727,52.1135807 61.8522727,59.4335938 C61.8522727,66.7526042 66.3693182,71.765625 73.8977273,71.765625 Z M48,8 L63.0568182,8 L63.0568182,40.2828516 L63.2575758,40.2828516 C66.6704545,35.5716146 72.493428,33.8681901 78.7159091,33.8681901 C92.5691856,33.8681901 101,46.2984766 101,59.8336328 C101,74.5729167 91.4640152,85 77.0104735,85 C70.1837121,85 64.3617424,80.8883203 62.0530303,77.3792057 L61.8522727,77.3792057 L61.8522727,83.796875 L48,83.796875 L48,8 Z" id="Fill-1" fill="#3EABE6"></path>
                  <path d="M30.164963,59.5 C30.164963,53.8055556 26.4395702,50.3888889 20.9995033,50.3888889 C15.5604298,50.3888889 11.835037,53.8055556 11.835037,59.5 C11.835037,65.1944444 15.5604298,68.6111111 20.9995033,68.6111111 C26.4395702,68.6111111 30.164963,65.1944444 30.164963,59.5 Z M2,59.5 C2,48.1111111 9.4507856,39 20.9995033,39 C32.5492144,39 40,48.1111111 40,59.5 C40,70.8888889 32.5492144,80 20.9995033,80 C9.4507856,80 2,70.8888889 2,59.5 Z" id="Fill-4" fill="#3EABE6"></path>
                  <path d="M129.234739,56.1156317 C129.234739,59.5631692 129.53277,67.2077088 134.450289,67.2077088 C137.132572,67.2077088 138.399205,64.359743 138.399205,61.8865096 C138.399205,57.4646681 136.089462,53.3426124 131.61899,53.3426124 L129.234739,53.3426124 L129.234739,56.1156317 Z M140.559933,53.3426124 L140.559933,53.4925054 C144.434342,55.9657388 146,60.4625268 146,65.0352605 C146,71.8543897 142.124598,78 134.822828,78 C122.305508,78 122.081985,62.7109208 122.081985,53.3426124 C118.133068,53.3426124 115.599801,56.640257 115.599801,60.5384725 C115.599801,64.2098501 117.238974,67.2836545 119.921257,69.6809422 L113.811613,75.6766595 C109.937204,71.5546039 108,65.5588865 108,59.6381156 C108,46.5224839 114.630206,43 126.701472,43 L145.104912,43 L145.104912,53.3426124 L140.559933,53.3426124 Z" id="Fill-5" fill="#3EABE6"></path>
                  <path d="M75.8977273,69.765625 C83.4261364,69.765625 87.9431818,64.7526042 87.9431818,57.4335938 C87.9431818,50.1135807 83.4261364,45.1005599 75.8977273,45.1005599 C68.3693182,45.1005599 63.8522727,50.1135807 63.8522727,57.4335938 C63.8522727,64.7526042 68.3693182,69.765625 75.8977273,69.765625 Z M50,6 L65.0568182,6 L65.0568182,38.2828516 L65.2575758,38.2828516 C68.6704545,33.5716146 74.493428,31.8681901 80.7159091,31.8681901 C94.5691856,31.8681901 103,44.2984766 103,57.8336328 C103,72.5729167 93.4640152,83 79.0104735,83 C72.1837121,83 66.3617424,78.8883203 64.0530303,75.3792057 L63.8522727,75.3792057 L63.8522727,81.796875 L50,81.796875 L50,6 Z" id="Fill-1" fill="#7BE63E"></path>
                  <path d="M32.164963,57.5 C32.164963,51.8055556 28.4395702,48.3888889 22.9995033,48.3888889 C17.5604298,48.3888889 13.835037,51.8055556 13.835037,57.5 C13.835037,63.1944444 17.5604298,66.6111111 22.9995033,66.6111111 C28.4395702,66.6111111 32.164963,63.1944444 32.164963,57.5 Z M4,57.5 C4,46.1111111 11.4507856,37 22.9995033,37 C34.5492144,37 42,46.1111111 42,57.5 C42,68.8888889 34.5492144,78 22.9995033,78 C11.4507856,78 4,68.8888889 4,57.5 Z" id="Fill-4" fill="#7BE63E"></path>
                  <path d="M131.234739,54.1156317 C131.234739,57.5631692 131.53277,65.2077088 136.450289,65.2077088 C139.132572,65.2077088 140.399205,62.359743 140.399205,59.8865096 C140.399205,55.4646681 138.089462,51.3426124 133.61899,51.3426124 L131.234739,51.3426124 L131.234739,54.1156317 Z M142.559933,51.3426124 L142.559933,51.4925054 C146.434342,53.9657388 148,58.4625268 148,63.0352605 C148,69.8543897 144.124598,76 136.822828,76 C124.305508,76 124.081985,60.7109208 124.081985,51.3426124 C120.133068,51.3426124 117.599801,54.640257 117.599801,58.5384725 C117.599801,62.2098501 119.238974,65.2836545 121.921257,67.6809422 L115.811613,73.6766595 C111.937204,69.5546039 110,63.5588865 110,57.6381156 C110,44.5224839 116.630206,41 128.701472,41 L147.104912,41 L147.104912,51.3426124 L142.559933,51.3426124 Z" id="Fill-5" fill="#7BE63E"></path>
                  <path d="M77.8977273,67.765625 C85.4261364,67.765625 89.9431818,62.7526042 89.9431818,55.4335937 C89.9431818,48.1135807 85.4261364,43.1005599 77.8977273,43.1005599 C70.3693182,43.1005599 65.8522727,48.1135807 65.8522727,55.4335937 C65.8522727,62.7526042 70.3693182,67.765625 77.8977273,67.765625 Z M52,4 L67.0568182,4 L67.0568182,36.2828516 L67.2575758,36.2828516 C70.6704545,31.5716146 76.493428,29.8681901 82.7159091,29.8681901 C96.5691856,29.8681901 105,42.2984766 105,55.8336328 C105,70.5729167 95.4640152,81 81.0104735,81 C74.1837121,81 68.3617424,76.8883203 66.0530303,73.3792057 L65.8522727,73.3792057 L65.8522727,79.796875 L52,79.796875 L52,4 Z" id="Fill-1" fill="#FFF400"></path>
                  <path d="M34.164963,55.5 C34.164963,49.8055556 30.4395702,46.3888889 24.9995033,46.3888889 C19.5604298,46.3888889 15.835037,49.8055556 15.835037,55.5 C15.835037,61.1944444 19.5604298,64.6111111 24.9995033,64.6111111 C30.4395702,64.6111111 34.164963,61.1944444 34.164963,55.5 Z M6,55.5 C6,44.1111111 13.4507856,35 24.9995033,35 C36.5492144,35 44,44.1111111 44,55.5 C44,66.8888889 36.5492144,76 24.9995033,76 C13.4507856,76 6,66.8888889 6,55.5 Z" id="Fill-4" fill="#FFF400"></path>
                  <path d="M133.234739,52.1156317 C133.234739,55.5631692 133.53277,63.2077088 138.450289,63.2077088 C141.132572,63.2077088 142.399205,60.359743 142.399205,57.8865096 C142.399205,53.4646681 140.089462,49.3426124 135.61899,49.3426124 L133.234739,49.3426124 L133.234739,52.1156317 Z M144.559933,49.3426124 L144.559933,49.4925054 C148.434342,51.9657388 150,56.4625268 150,61.0352605 C150,67.8543897 146.124598,74 138.822828,74 C126.305508,74 126.081985,58.7109208 126.081985,49.3426124 C122.133068,49.3426124 119.599801,52.640257 119.599801,56.5384725 C119.599801,60.2098501 121.238974,63.2836545 123.921257,65.6809422 L117.811613,71.6766595 C113.937204,67.5546039 112,61.5588865 112,55.6381156 C112,42.5224839 118.630206,39 130.701472,39 L149.104912,39 L149.104912,49.3426124 L144.559933,49.3426124 Z" id="Fill-5" fill="#FFF400"></path>
                  <path d="M79.8977273,65.765625 C87.4261364,65.765625 91.9431818,60.7526042 91.9431818,53.4335937 C91.9431818,46.1135807 87.4261364,41.1005599 79.8977273,41.1005599 C72.3693182,41.1005599 67.8522727,46.1135807 67.8522727,53.4335937 C67.8522727,60.7526042 72.3693182,65.765625 79.8977273,65.765625 Z M54,2 L69.0568182,2 L69.0568182,34.2828516 L69.2575758,34.2828516 C72.6704545,29.5716146 78.493428,27.8681901 84.7159091,27.8681901 C98.5691856,27.8681901 107,40.2984766 107,53.8336328 C107,68.5729167 97.4640152,79 83.0104735,79 C76.1837121,79 70.3617424,74.8883203 68.0530303,71.3792057 L67.8522727,71.3792057 L67.8522727,77.796875 L54,77.796875 L54,2 Z" id="Fill-1" fill="#FF9900"></path>
                  <path d="M36.164963,53.5 C36.164963,47.8055556 32.4395702,44.3888889 26.9995033,44.3888889 C21.5604298,44.3888889 17.835037,47.8055556 17.835037,53.5 C17.835037,59.1944444 21.5604298,62.6111111 26.9995033,62.6111111 C32.4395702,62.6111111 36.164963,59.1944444 36.164963,53.5 Z M8,53.5 C8,42.1111111 15.4507856,33 26.9995033,33 C38.5492144,33 46,42.1111111 46,53.5 C46,64.8888889 38.5492144,74 26.9995033,74 C15.4507856,74 8,64.8888889 8,53.5 Z" id="Fill-4" fill="#FF9900"></path>
                  <path d="M135.234739,50.1156317 C135.234739,53.5631692 135.53277,61.2077088 140.450289,61.2077088 C143.132572,61.2077088 144.399205,58.359743 144.399205,55.8865096 C144.399205,51.4646681 142.089462,47.3426124 137.61899,47.3426124 L135.234739,47.3426124 L135.234739,50.1156317 Z M146.559933,47.3426124 L146.559933,47.4925054 C150.434342,49.9657388 152,54.4625268 152,59.0352605 C152,65.8543897 148.124598,72 140.822828,72 C128.305508,72 128.081985,56.7109208 128.081985,47.3426124 C124.133068,47.3426124 121.599801,50.640257 121.599801,54.5384725 C121.599801,58.2098501 123.238974,61.2836545 125.921257,63.6809422 L119.811613,69.6766595 C115.937204,65.5546039 114,59.5588865 114,53.6381156 C114,40.5224839 120.630206,37 132.701472,37 L151.104912,37 L151.104912,47.3426124 L146.559933,47.3426124 Z" id="Fill-5" fill="#FF9900"></path>
                  <path d="M81.8977273,63.765625 C89.4261364,63.765625 93.9431818,58.7526042 93.9431818,51.4335937 C93.9431818,44.1135807 89.4261364,39.1005599 81.8977273,39.1005599 C74.3693182,39.1005599 69.8522727,44.1135807 69.8522727,51.4335937 C69.8522727,58.7526042 74.3693182,63.765625 81.8977273,63.765625 Z M56,0 L71.0568182,0 L71.0568182,32.2828516 L71.2575758,32.2828516 C74.6704545,27.5716146 80.493428,25.8681901 86.7159091,25.8681901 C100.569186,25.8681901 109,38.2984766 109,51.8336328 C109,66.5729167 99.4640152,77 85.0104735,77 C78.1837121,77 72.3617424,72.8883203 70.0530303,69.3792057 L69.8522727,69.3792057 L69.8522727,75.796875 L56,75.796875 L56,0 Z" id="Fill-1" fill="#D8232A"></path>
                  <path d="M38.164963,51.5 C38.164963,45.8055556 34.4395702,42.3888889 28.9995033,42.3888889 C23.5604298,42.3888889 19.835037,45.8055556 19.835037,51.5 C19.835037,57.1944444 23.5604298,60.6111111 28.9995033,60.6111111 C34.4395702,60.6111111 38.164963,57.1944444 38.164963,51.5 Z M10,51.5 C10,40.1111111 17.4507856,31 28.9995033,31 C40.5492144,31 48,40.1111111 48,51.5 C48,62.8888889 40.5492144,72 28.9995033,72 C17.4507856,72 10,62.8888889 10,51.5 Z" id="Fill-4" fill="#D8232A"></path>
                  <path d="M137.234739,48.1156317 C137.234739,51.5631692 137.53277,59.2077088 142.450289,59.2077088 C145.132572,59.2077088 146.399205,56.359743 146.399205,53.8865096 C146.399205,49.4646681 144.089462,45.3426124 139.61899,45.3426124 L137.234739,45.3426124 L137.234739,48.1156317 Z M148.559933,45.3426124 L148.559933,45.4925054 C152.434342,47.9657388 154,52.4625268 154,57.0352605 C154,63.8543897 150.124598,70 142.822828,70 C130.305508,70 130.081985,54.7109208 130.081985,45.3426124 C126.133068,45.3426124 123.599801,48.640257 123.599801,52.5384725 C123.599801,56.2098501 125.238974,59.2836545 127.921257,61.6809422 L121.811613,67.6766595 C117.937204,63.5546039 116,57.5588865 116,51.6381156 C116,38.5224839 122.630206,35 134.701472,35 L153.104912,35 L153.104912,45.3426124 L148.559933,45.3426124 Z" id="Fill-5" fill="#D8232A"></path>
              </g>
          </g>
      </g>
  </svg> <span class="v">v</span><span class="o">o</span><span class="oo">o</span><span class="r">r</span> <span class="d">d</span><span class="u">u</span><span class="m">m</span><span class="mm">m</span><span class="i">i</span><span class="e">e</span><span class="s">s</span></h1>

  <ul class="menu menu__btn">
    <li><a id="booksBtn" class="btn" href="/books">bibliotheek</a></li>
    <li><a id="courseBtn" class="btn" href="/courses">cursussen</a></li>
  </ul>

</div>
