<footer>
  <ul class="menu footer">
    <li>©2018 OBA Volwassen, BV</li>
    <li><a href="https://www.oba.nl/disclaimer.html">Terms</a></li>
    <li><a href="https://www.oba.nl/privacy.html">Privacy</a></li>
  </ul>
</footer>
